#PostgreSQL section
DB_NAME=movies_database
DB_USER=app
DB_PASSWORD=123qwe
DB_HOST=db
DB_PORT=5432

#Elasticsearch section
ES_PROTOCOL=http
ES_USER=
ES_PASSWORD=
ES_HOST=elasticsearch
ES_PORT=9200
INDEX_MOVIES=movies
INDEX_GENRES=genres
INDEX_PERSONS=persons

#Kibana section (only test profile)
KIBANA_PORT=5601

#Redis section
REDIS_HOST=redis
REDIS_PORT=6379
CACHE_EXPIRE=300

#FastAPI section
PROJECT_NAME=etube
CLIENT_APP_PORT=8000
PAGE_DEFAULT=1
PAGE_SIZE_DEFAULT=50
API_URL=http://backend-client
API_PATH=/api
API_VERSION=v1
SWAGGER_PATH=/openapi
JSON_SWAGGER_PATH=/openapi.json

#Django section
ADMIN_APP_PORT=7070
SECRET_KEY=(ewny9@s_m^c+$u&psc*q$w82e2ft@is6^z3wb0_j2yf!t1c01
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,backend
CORS_ALLOWED_ORIGINS=http://127.0.0.1:8080,http://localhost:8080
PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
UWSGI_PROCESSES=2
UWSGI_THREADS=16
UWSGI_HARAKIRI=240
